<header>
    <img src="assets/logo.png" alt="Logo">
    <app-menu-bt></app-menu-bt>
</header>
<section class="container">
    <div class="container-main">
        <img src="assets/born-pink.png">
        <p>Get ready to rock with the hottest girl group in the world! BLACKPINK is coming to town for their Born Pink tour in 2023, bringing you all their biggest hits and electrifying performances.</p>
        <h1>Ensure your ticket!</h1>
        <app-container-bt></app-container-bt>
    </div>
    <div class="container-view">
        <div class="carrossel">
            <img class="carrossel-img">          
            <app-container-connection></app-container-connection>
        </div>
    </div>
</section>
